	#header{
		position:fixed;
		box-shadow: 0 0 20px #515151;
		top:0px;
		opacity: 0.8;
		height: 60px;
		display:block;
		width: 100%;
		background:lightblue;
		z-index:9;
		text-align:center;
		color: #f2f2f2;
		padding: 20px 0 0 0;
	}
	#section0{
		background-image: url(../images/sign.jpg);
		background-position: center center;
		background-repeat:  no-repeat;
		background-attachment: fixed;
		background-size:  cover;
	}
	#section2{
		background-image: url();
		background-position: center center;
		background-repeat:  no-repeat;
		background-attachment: fixed;
		background-size:  cover;
		padding: 6% 0 0 0;
	}
	#section3{
		background-image: url();
		padding: 6% 0 0 0;
	}
	.section{
		text-align:center;
		box-shadow: 0 0 20px #515151;
	}

#menu li {
	display:inline-block;
	margin: 10px;
	color: #fff;
	background:#fff;
	background: rgba(255,255,255, 0.5);
	-webkit-border-radius: 5px;
            border-radius: 5px;
}
#menu li.active{
	background:red;
	color: #fff;
}
#menu li a{
	text-decoration:none;
	color: #fff;
}
#menu li.active a:hover{
	color: red;
}
#menu li:hover{
	background: rgba(255,255,255, 0.8);
}
#menu li a,
#menu li.active a{
	padding: 9px 18px;
	display:block;
}
#menu li.active a{
	color: #fff;
}
#menu{
	position:fixed;
	top:0;
	left:0;
	height: 40px;
	z-index: 70;
	width: 100%;
	padding: 0;
	margin:0;
}